/* Estilo general */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Estilo del header */
header {
    background-color: #7cb6b9;
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

header nav ul li a:hover {
    color: #6347ff;
    transition: color 0.3s ease;
}

/* Sección principal */
section {
    padding: 20px;
    background-color: white;
    max-width: 1200px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h2 {
    font-size: 2rem;
    color: #333333;
}

h3 {
    font-size: 1.5rem;
    color: #666;
}

/* Imagen principal */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
}


a {
    color: #4756ff;
    text-decoration: none;
}

a:hover {
    color: #1100ff;
    text-decoration: underline;
}

/* Audio */
audio {
    display: block;
    margin: 20px auto;
}

/* Redes sociales */
.redes-sociales {
    text-align: center;
    margin-top: 20px;
}

.redes-sociales a {
    width: 60px;
    height: 60px;
    margin: 0 10px;
    display: inline-block;
    background-color: #7cb6b9;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.redes-sociales a i {
    color: #fff;
    font-size: 24px;
}

.redes-sociales a:hover {
    background-color: #9fe0ec;
    transform: scale(1.1);
}

/* Footer */
footer {
    background-color: #62b5e8;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Formulario */
form {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="submit"],
form select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form input[type="submit"] {
    background-color: #5347ff;
    color: white;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #1e00ff;
}
#fechaHora{
    justify-content: center; /* Centrar el contenido */
    text-align: center;
}
#fecha-hora {
    font-size: 24px;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    
}
.converter {
    text-align: center;
    margin-top: 50px;
    
    display:inline-block;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    
}

#convertir-btn, button {
    background-color: #2bb492;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#convertir-btn:hover {
    background-color: #218884;
}

p#resultado {
    font-size: 20px;
    color: #333;
    margin-top: 20px;
}
#convertidor {
    display: flex;
    justify-content: center; /* Centrar el contenido */
    align-items: center;
    width: 100%; /* Ocupa todo el ancho */
}

.calculadora-container {
    justify-content: center; /* Centrar el contenido */
    text-align: center;
    margin-top: 50px; 
    display: flexbox;
    background: #fff;
    padding: 20px;
    background-color: #f8f8f8; 
    padding: 20px;
    border-radius: 10px;

    
}
.calculadora_contenedor{
    justify-content: center; /* Centrar el contenido */
    text-align: center;
    margin-top: 50px; 
    display: flexbox;
    background: #fff;
    padding: 20px;
    background-color: #f8f8f8; 
    padding: 20px;
    border-radius: 10px;
    
}


.calculadora {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pantalla {
    width: 200px;
    height: 50px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    text-align: right;
    padding: 10px;
    border: none;
    background-color: #004d40; /* Azul marino más claro */
    color: #ffffff;
    border-radius: 5px;
}

.botones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

#btn{
    width: 50px;
    height: 50px;
    font-size: 1.2rem;
    background-color: #00796b; /* Azul verdoso */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#btn:hover, button:hover  {
    background-color: #004d40; /* Azul más oscuro */
}

#btn:active {
    background-color: #20f5b5; /* Azul aún más oscuro */
}

.quiz-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

.quiz-title {
    text-align: center;
    color: #333;
}

/* Estilos para las preguntas */
.question {
    margin-bottom: 20px;
}

.question h3 {
    color: #444;
}

.question label {
    display: block;
    margin: 5px 0;
    color: #555;
}
.form-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}
